/* css styles */

.navbar-dark {
    background-color: purple;
}

.navbar-dark .navbar-brand,
.navbar-brand .navbar-title:hover,
.navbar-brand .navbar-title:focus {
  color: white;
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: bold;
  color: white;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  color: white;
}

.sidebar-navigation .sidebar-item {
    font-size: 1rem;
}

/* image size */

.img-fluid.figure-img {
    margin-bottom: .5rem;
    line-height: 1;
    max-width: 65%;
    height: auto;
    vertical-align: middle;
}

.projects-image, .cv-image {
    height: auto;
    width: 40%;
    margin: auto;
    display: block;
}

.education-image {
    height: auto;
    width: 75%;
    margin: auto;
    display: block;
}

.cert-images {
    display: flex;
    flex-wrap: wrap;
}

/* no bullets on the career list */

.career-list {
    list-style: none;
}
